<h3>Issues Management</h3>

<div>
  <button class="btn" (click)="filterStatus = 'All'">
    Todas as Issues
  </button>
  <button class="btn" (click)="filterStatus = 'Open'">
    Não Resolvidas
  </button>
</div>
<br>

<table *ngIf="filteredIssues.length > 0; else noIssues">
  <thead>
    <tr>
      <th>ID</th>
      <th>Título</th>
      <th>Prioridade</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let issue of filteredIssues">
      <td>{{ issue.id }}</td>
      <td>{{ issue.title }}</td>
      <td>{{ issue.priority }}</td>
      <td>{{ issue.status }}</td>
    </tr>
  </tbody>
</table>

<ng-template #noIssues>
  <p>A carregar issues ou nenhuma issue encontrada...</p>
</ng-template>